.sidebar {
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  overflow-y: auto;
  overflow-x: hidden;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + -1rem);
  width: 100%;
  max-width: 100%;
}

.sidebarItemTitle {
  font-size: var(--ifm-h3-font-size);
  font-weight: var(--ifm-font-weight-bold);
}

.sidebarItemList {
  font-size: 0.9rem;
}

.sidebarItem {
  margin-top: 0.7rem;
}

.sidebarItemLink {
  color: var(--ifm-font-color-base);
  display: block;
}

.sidebarItemLink:hover {
  text-decoration: none;
}

.sidebarItemLinkActive {
  color: var(--ifm-color-primary) !important;
}

@media (max-width: 996px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 1200px) {
  .sidebar {
    display: none;
  }
}

.yearGroupHeading {
  margin-top: 1.6rem;
  margin-bottom: 0.4rem;
  font-size: 1.1rem;
  font-weight: var(--ifm-font-weight-bold);
}


.sidebarContainer {
  overflow: hidden;
  min-width: 0;
}